{% assign featured_Post = site.posts | where: "featured", "true" %}
{% unless featured_Post == empty %}
<section class="py-6">
    <div class="flex justify-start">
      <div class="text-xl font-bold font-display w-72">Featured Posts</div>
      <div class="w-full">
        <span class="inline-block w-full h-0.5 bg-gray-900 dark:bg-gray-500"></span>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-x-6 pt-6">
    {% for post in featured_Post limit:3 %}
        <div class="col-span-full xl:col-span-4">
            <a href="{{ post.url }}">
                <figure class="aspect-w-16 aspect-h-9">
                    <img class="object-center object-cover dark:brightness-75" src="{{ post.image }}" />
                </figure>
                <h4 class="py-3 text-xl font-bold font-display">{{ post.title }}</h4>
            </a>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endunless %}