{% assign featured_Post = site.posts | where: "featured", "true" %}
{% unless featured_Post == empty %}
<section class="grid grid-cols-6 py-6">
  <div class="col-span-full xl:col-span-4 xl:col-start-2">
    <div class="flex justify-start">
      <div class="text-sm uppercase w-60">Featured Posts</div>
      <div class="w-full">
        <span class="inline-block w-full h-px mb-1 bg-gray-900 dark:bg-gray-500"></span>
      </div>
    </div>
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {% for post in featured_Post limit:3 %}
      <li class="py-8">
        {% include helpers/posts-loop.html %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endunless %}