<!-- Page Info -->
{% if page.title == "Home" %}<title>{{ site.title }} &middot; {{ site.tagline }}</title>{% else %}<title>{{ page.title }} &middot; {{ site.title }}</title>{% endif %}
<meta name="description" content="{{ page.description }}" />
<meta name="author" content="{{ site.author.name }}" />
<link rel="canonical" href='{{ site.url }}{{ page.url }}' />
{% if page.is_post %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta property="article:author" content="{{ site.author.name }}" />
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endif %}

<!-- Open Graph -->
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />
{% if page.is_post %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
{% if page.title == "Home" %}<meta property="og:title" content="{{ site.title }}" />{% else %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{% include helpers/og-image.html %}" />

<!-- Mastodon  -->
<link name="mastodon" href="{{ site.author.mastodon }}" rel="me"/>

<!--Schema.org-->
{% if page.is_post %}
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "author": {
          "@type": "Person",
          "name": "{{ site.author.name }}",
          "url": "{{ site.url }}",
          "sameAs": [
              "https://www.linkedin.com/in/{{ site.author.linkedin }}",
              "{{ site.author.mastodon }}",
              "{{ site.author.bluesky }}",
              "https://github.com/{{ site.author.github }}"
          ]
      },
      "headline": "{{ page.title }}",
      "url": "{{ site.url }}{{ page.url }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
      "image": {
          "@type": "ImageObject",
          "url": "{% include helpers/og-image.html %}",
          "width": 1200,
          "height": 630
      },
      "description": "{{ page.description }}",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}"
      }
  }
</script>
{% else %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "url": "{{ site.url }}",
        "sameAs": [
          "https://www.linkedin.com/in/{{ site.author.linkedin }}",
          "{{ site.author.mastodon }}",
          "https://medium.com/@{{ site.author.medium }}",
          "https://github.com/{{ site.author.github }}"
        ]
    },
    "url": "{{ site.url }}{{ page.url }}",
    "headline": "{{ page.title }}",
    "description": "{{ page.description }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}"
    }
}
</script>
{% endif %}

<!-- RSS -->
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}" />