# Jekyll specific
_site/
.jekyll-cache
.jekyll-metadata

# Dependencies
.bundle
vendor/bundle
vendor/cache
vendor/gems
vendor/ruby

# Logs and temp files
*.log
*.swp
*.swo
*.DS_Store
*.bak
*.tmp

# Node and package manager dependencies
node_modules
package-lock.json
yarn.lock

# Ignore generated Gemfile.lock
Gemfile.lock