# Jekyll
_site/
.jekyll-cache
.jekyll-metadata

# Netlify
.netlify

# Obsidian
.obsidian

# Ruby
.ruby-version
.bundle
Gemfile.lock
vendor/bundle
vendor/cache
vendor/gems
vendor/ruby

# Node
node_modules
package-lock.json
yarn.lock

# Logs and temp files
*.log
*.swp
*.swo
*.DS_Store
*.bak
*.tmp