# Jekyll
_site/
.jekyll-cache
.jekyll-metadata

# Netlify
.netlify

# Obsidian
.obsidian

# Claude Code
CLAUDE.md

# Ruby
.bundle
vendor/bundle
vendor/cache
vendor/gems
vendor/ruby

# Node
node_modules

# Logs and temp files
*.log
*.swp
*.swo
*.DS_Store
*.bak
*.tmp