---
layout: default
title: 404
permalink: /404.html
---

{% include header.html %}

<main class="main">

  <section class="section is-large">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1>404</h1>
            <p><strong>Page not found :(</strong></p>
            <p>The requested page could not be found.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
