---
layout: default
title: Almost
permalink: /almost/
---

<section class="hero is-fullheight">

  {% include header.html %}

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1>Almost There...</h1>
            <p>
              I need to confirm your email address. To complete the subscription process, please click the link in the email I just sent you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</section>
