---
layout: default
crumbtitle: Home
---

<section class="hero is-fullheight">

{% include header.html %}

  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        {{ site.title }}
      </h1>
      <h2 class="subtitle is-4">
        Content Marketing Manager in Seattle, Washington
      </h2>
      <a href="https://twitter.com/{{ site.author.twitter }}">
        <span class="icon is-medium">
          <i class="fab fa-lg fa-twitter"></i>
        </span>
      </a>
      <a href="https://github.com/{{ site.author.github }}"
      <span class="icon is-medium">
        <i class="fab fa-lg fa-github"></i>
      </span>
      </a>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
      <span class="icon is-medium">
        <i class="fab fa-lg fa-linkedin"></i>
      </span>
      </a>
    </div>
  </div>

{% include footer.html %}

</section>
