---
layout: default
title: Newsletter
---

{% include header.html %}

<main class="main">

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="content">
            <h1>Newsletter</h1>
            <p class="intro">A collection of missives and messages, along with nerd talk and company carryings-on.</p>
            {% include forms/form-newsletter-default.html %}
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
