---
layout: default
title: Thank You
permalink: /thanks/
---

<section class="hero is-fullheight subscribe">

  {% include header.html %}

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1>Thank You</h1>
            <p>
              I appreciate you signing up for my list. This is the place where I spend a lot of time and energy. I’m glad you’re now a part of the community — we’re all friends here, so get comfy.
            </p>
            <p>See you on Sunday,<br />Andrew Stiefel</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</section>
