<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% for post in site.posts %}
      <div class="column is-6">
        <div class="card post-card">
          <a href="{{ post.url }}">
            <div class="card-image">
              <figure class="image is-5by3">
                <img src="{{ post.image }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h5 class="is-size-5-tablet">{{ post.title }}</h5>
                <!---p class="is-family-secondary">{{ post.description }}</p--->
                <h6 class="is-size-7">{{ post.date | date: "%-d %b %Y" }} • {{ post.categories }}</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
