<div class="col-sm-4">
    <div class="card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
        {% if post.categories %}
            {% assign categories = post.categories %}
            <span class="card-label">
                {% for category in categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="label"> {{ category }} </a>
                {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
            </span>
        {% endif %}
        <a href="{{ post.url | relative_url }}">
            <img class="card-img-top lazyload blur" src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_placehold.jpg", data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb@2x.jpg 2x" class="lazyload blur" alt="{{post.title}}"
            /><noscript><img class="card-img-top" src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg" alt="{{ post.title }}"></noscript>
            <div class="card-body">
                <h5 class="card-title">{{ post.title | strip_html | truncate: 50 }}</h5>
                {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
                <h6 class="card-subtitle mb-2 text-muted">
                    <time>{{ post.date | date: date_format }}</time>
                </h6>
                {% if post.summary %}
                <p class="card-text">{{ post.summary | strip_html | truncatewords:20 }}</p>
                {% else %}
                <p class="card-text">{{ post.content | strip_html | truncatewords: 20 }}</p>
                {% endif %}
            </div>
        </a>
    </div>
</div>