{% assign items = page.carousel %}

<div class="carousel is-marginless">
  <div class="carousel-items is-flex">
    {% for item in items %}
      <div class="carousel-item">
        <a class="image">
          <figure class="image is-3x2">
            <img src="{{ item.image }}">
          </figure>
        </a>
      </div>
    {% endfor %}
    <div class="carousel-arrow">
      <span class="icon has-icons-left is-medium carousel-prev">
        <i class="fas fa-chevron-left"></i>
      </span>
      <span class="icon has-icons-right is-medium carousel-next">
        <i class="fas fa-chevron-right"></i>
      </span>
    </div>
  </div>
  <div class="carousel-thumbs-wrapper">
    <div class="carousel-thumbs is-flex">
      {% for item in items %}
      <a class="thumb-item">
        <figure class="image is-5x3">
          <img src="{{ item.image }}">
        </figure>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
