<div class="cat-links">
    
{{ post.categories }}

<!--  Loop through the categories selected by the editor in the post -->
    {% for post-cat in post.categories %}
<!--   assign a variable that captures the title of each category and makes it lowercase -->
        {% assign post-cat-name = 'post-cat' | downcase %}
    {% endfor %}
<!--   Loop through all categories that you've made in your 'categories' collection -->
    {% for site_cat in site.data.taxonomies.categories %}
<!--   assign a variable that captures the title of each category on your site and makes it lowercase -->
        {% assign site-cat-name = 'site-cat' | downcase %}
    {% endfor %}
<!--   compare the category titles from your site vs the post. If they match, display the content -->  
    {% if site-cat-name == post-cat-name  %}
        <span class="post-category" style="background-color: red;"><a href="{{ site.baseurl }}/blog/{{ site-cat-name }}">{{ post-cat-name }}</a></span>
    {% endif %}

</div>