<form name="subscribe" method="POST" data-netlify="true" action="/almost/">
    <div class=field">
      <div class="control">
        <input class="input" type="hidden" name="u" value="1d38ebdcfe34451bba72cd07d">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="hidden" name="id" value="f585bcf40d">
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <div class="control has-icons-left is-expanded">
        <input class="input" name="MERGE0" type="email" placeholder="your-email@example.com">
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary is-fullwidth">Join Now</button>
      </div>
    </div>
</form>
