<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Favicons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    {% include seo-tags.html %}

    <!-- Fathom Analytics -->
    <script src="https://mouse.andrewstiefel.com/script.js" data-site="BKYGCADM" defer></script>

  </head>
