<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Info -->

    {% seo %}

    <!-- CSS -->

    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Scripts -->

    <script src="https://kit.fontawesome.com/e6dfa6e5b0.js"></script>

    <!-- Icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

    <!-- RSS -->

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>
