<header class="py-3" aria-label="Main navigation">
    
    <div class="container">
        
        <nav class="navbar navbar-expand-lg navbar-light px-0">
                <a href="/" class="navbar-brand">
                    {{ site.title }}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        {% for item in site.navigation %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ item.link | relative_url }}"><span>{{ item.name }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        
    </div>
    
</header>