<header>
  <a href="https://support.eji.org/give/153413/#!/donation/checkout">
    <div class="has-background-black-ter has-text-white py-1">
      <div class="container has-text-centered is-size-7">
        Black Lives Matter. Support the Equal Justice Initiative.
      </div>
    </div>
  </a>
  <nav id="navbar" class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item site-title" href="/">
          <p class="site-title">Andrew Stiefel</p>
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
          {% include menu.html %}
          <a class="navbar-item is-size-6 pr-2" target="_blank" href="https://twitter.com/{{ site.author.twitter }}">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
          <a class="navbar-item is-size-6 pl-2" target="_blank" href="https://www.linkedin.com/in/{{ site.author.twitter }}">
            <span class="icon">
              <i class="fab fa-linkedin-in"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
