<header>
  <nav id="navbar" class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
    <div class="container px-3">
      <div class="navbar-brand">
        <a class="navbar-item site-title" href="/">
          <p class="site-title">{{ site.title }}</p>
        </a>
        <a role="button is-hidden" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
          <div class="menu-actions">
            <a class="navbar-item is-size-6 pr-2" target="_blank" rel="noreferrer" title="twitter" href="https://twitter.com/{{ site.author.twitter }}">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            </a>
            <a class="navbar-item is-size-6 pl-2" target="_blank" rel="noreferrer" title="linkedin" href="https://www.linkedin.com/in/{{ site.author.twitter }}">
              <span class="icon">
                <i class="fab fa-linkedin-in"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
