<div class="field is-grouped is-grouped-multiline mb-0 py-4">
  <div class="control is-expanded">
    <input id="postURL" readonly class="input is-small" aria-label="Post URL" type="text" value="{{site.url}}{{page.url}}">
  </div>
  <div class="control">
    <button id="copyURL" class="button is-small button-is-120" aria-label="Copy Post URL">
      <span class="icon is-small">
        <i class="fas fa-link"></i>
      </span>
      <span id="shareText" class="copy-button"></span>
    </button>
  </div>
  <div class="control">
    <a class="button is-small button-is-120" href="mailto:?subject={{page.title}}&body={{site.url}}{{page.url}}">
      <span class="icon is-small">
        <i class="fas fa-envelope"></i>
      </span>
      <span>Email</span>
    </a>
  </div>
  <div class="control">
    <a class="button is-small button-is-120" href="{{site.url}}/{{ page.pdf }}" target="_blank" rel="noopener noreferrer">
      <span class="icon is-small">
        <i class="fas fa-file-pdf"></i>
      </span>
      <span>Download</span>
    </a>
  </div>
</div>
