<div class="field is-grouped is-grouped">
  <div class="control is-expanded">
    <input id="postURL" readonly class="input is-small" aria-label="Post URL" type="text" value="{{site.url}}{{page.url}}">
  </div>
  <div class="control is-expanded">
    <button id="copyURL" class="copy-button button is-fullwidth is-small" aria-label="Copy Post URL" onclick="copyURL()"></button>
  </div>
</div>

<script>
  function copyURL() {
  /* Get the text field */
  var copyText = document.getElementById("postURL");
  var copySuccess = document.getElementById("copyURL");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  copySuccess.classList.add('copied');

    setTimeout(() => {
      copySuccess.classList.remove('copied');
    }, 2000);
  }
</script>
