<ul class="sm:space-y-0 sm:flex sm:justify-items-center space-y-1.5">
  <li>
    <a class="px-1 sm:px-3 text-gray-700 dark:text-gray-300 hover:text-teal-700 dark:hover:text-teal-400" href="/archive">Archive</a>
  </li>
  <li>
    <a class="px-1 sm:px-3 text-gray-700 dark:text-gray-300 hover:text-teal-700 dark:hover:text-teal-400" href="/colophon">Colophon</a>
  </li>
  <li>
    <a class="px-1 sm:px-3 text-gray-700 dark:text-gray-300 hover:text-teal-700 dark:hover:text-teal-400" href="/feed.xml" data-fathom="YKQ6ZLVM" target="_blank">RSS</a>
  </li>
  {% include components/theme-toggle.html %}
</ul>
