<ul class="flex justify-items-center">
  <li>
    <a class="px-1 sm:px-3 text-gray-700 dark:text-gray-400 hover:text-teal-700 dark:hover:text-teal-400" href="mailto:andrew@andrewstiefel.com">Contact</a>
  </li>
  <li>
    <a class="px-1 sm:px-3 text-gray-700 dark:text-gray-400 hover:text-teal-700 dark:hover:text-teal-400" href="/colophon">Colophon</a>
  </li>
  <li>
    <a id="subRSS" class="px-1 sm:px-3 text-gray-700 dark:text-gray-400 hover:text-teal-700 dark:hover:text-teal-400" href="/feed.xml" target="_blank">RSS</a>
  </li>
</ul>
