<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="#about">About</a>
</li>
<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="#templates">Templates</a>
</li>
<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="#writing">Writing</a>
</li>
<li class="lg:pl-4">
  <a class="font-medium rounded-full bg-primary py-2 px-4 mt-4 text-white hover:bg-green-900 dark:bg-primary_dark dark:hover:bg-green-700 dark:text-gray-700 no-underline" href="https://drive.google.com/file/d/12_-ZcXS7W5xaQnfGd-8OAU_hRrAmgla8/view?usp=share_link" target="_blank">Download Resume</a>
</li>