<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="#templates">Templates</a>
</li>
<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="#writing">Writing</a>
</li>
<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="https://drive.google.com/file/d/12_-ZcXS7W5xaQnfGd-8OAU_hRrAmgla8/view?usp=share_link" target="_blank">Resume</a>
</li>
<li>
  <a class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4 hover:text-primary dark:hover:text-primary_dark" href="https://www.linkedin.com/in/andrewstiefel/" target="_blank">LinkedIn</a>
</li>
