@import "tailwindcss";

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/assets/fonts/inter/InterVariable.woff2') format('woff2');
}
   
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-named-instance: 'Regular';
    src: url('/assets/fonts/crimson-text/CrimsonText-Regular.woff2') format('woff2');
}
 
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "Inter var", sans-serif;
	--font-serif: "Crimson Text", serif;

	--color-black: oklch(16.96% 0.002 17.32);
	--color-paper: oklch(99.01% 0.016 95.22);

    --color-gray-*: initial;
  
	--color-gray-50: oklch(95.37% 0.015 98.29);
	--color-gray-100: oklch(91.74% 0.015 98.30);
	--color-gray-150: oklch(88.10% 0.014 97.46);
	--color-gray-200: oklch(84.63% 0.014 102.05);
	--color-gray-300: oklch(77.21% 0.013 96.47);
    --color-gray-400: oklch(69.56% 0.010 93.62);
	--color-gray-500: oklch(61.69% 0.008 88.67);
	--color-gray-600: oklch(53.75% 0.008 97.45);
	--color-gray-700: oklch(45.31% 0.005 91.50);
	--color-gray-800: oklch(36.51% 0.004 67.69);
	--color-gray-850: oklch(32.14% 0.004 84.58);
	--color-gray-900: oklch(27.34% 0.002 67.73);
	--color-gray-950: oklch(22.28% 0.002 67.70);

	--color-red-400: oklch(59.70% 0.169 28.38);
	--color-red-600: oklch(50.42% 0.165 27.84);
	--color-orange-400: oklch(65.76% 0.154 49.30);
	--color-orange-600: oklch(56.65% 0.152 45.02);
	--color-yellow-400: oklch(73.46% 0.146 87.46);
	--color-yellow-600: oklch(63.33% 0.129 85.81);
	--color-green-400: oklch(65.13% 0.124 119.38);
	--color-green-600: oklch(55.93% 0.134 122.92);
	--color-cyan-400: oklch(55.44% 0.086 186.74);
	--color-cyan-600: oklch(67.01% 0.100 186.58);
	--color-blue-400: oklch(59.88% 0.110 247.00);
	--color-blue-600: oklch(48.18% 0.131 254.79);
	--color-purple-400: oklch(63.48% 0.110 291.00);
	--color-purple-600: oklch(45.40% 0.145 294.83);
	--color-magenta-400: oklch(63.48% 0.156 350.47);
	--color-magenta-600: oklch(49.54% 0.161 349.76);
}

:root {
    --color-primary: var(--color-green-900);
	--color-red: var(--color-red-600);
	--color-orange: var(--color-orange-600);
	--color-yellow: var(--color-yellow-600);
	--color-green: var(--color-green-600);
	--color-cyan: var(--color-cyan-600);
	--color-blue: var(--color-blue-600);
	--color-purple: var(--color-purple-600);
	--color-magenta: var(--color-magenta-600);
}
  
:root[class~='dark'] {
	--color-primary: var(--color-green-200);
	--color-red: var(--color-red-400);
	--color-orange: var(--color-orange-400);
	--color-yellow: var(--color-yellow-400);
	--color-green: var(--color-green-400);
	--color-cyan: var(--color-cyan-400);
	--color-blue: var(--color-blue-400);
	--color-purple: var(--color-purple-400);
	--color-magenta: var(--color-magenta-400);
}
  
@theme inline {
	--color-primary: var(--color-primary);
	--color-red: var(--color-red);
	--color-orange: var(--color-orange);
	--color-yellow: var(--color-yellow);
	--color-green: var(--color-green);
	--color-cyan: var(--color-cyan);
	--color-blue: var(--color-blue);
	--color-purple: var(--color-purple);
	--color-magenta: var(--color-magenta);
}

@utility prose {
    --tw-prose-body: var(--color-gray-800);
    --tw-prose-headings: var(--color-gray-900);
    --tw-prose-lead: var(--color-gray-700);
    --tw-prose-links: var(--color-primary);
    --tw-prose-bold: var(--color-gray-900);
    --tw-prose-counters: var(--color-gray-600);
    --tw-prose-bullets: var(--color-gray-400);
    --tw-prose-hr: var(--color-gray-300);
    --tw-prose-quotes: var(--color-gray-900);
    --tw-prose-quote-borders: var(--color-gray-300);
    --tw-prose-captions: var(--color-gray-700);
    --tw-prose-code: var(--color-gray-900);
    --tw-prose-pre-code: var(--color-gray-100);
    --tw-prose-pre-bg: var(--color-gray-900);
    --tw-prose-th-borders: var(--color-gray-300);
    --tw-prose-td-borders: var(--color-gray-200);
    --tw-prose-invert-body: var(--color-gray-200);
    --tw-prose-invert-headings: var(--color-paper);
    --tw-prose-invert-lead: var(--color-gray-300);
    --tw-prose-invert-links: var(--color-primary);
    --tw-prose-invert-bold: var(--color-paper);
    --tw-prose-invert-counters: var(--color-gray-400);
    --tw-prose-invert-bullets: var(--color-gray-600);
    --tw-prose-invert-hr: var(--color-gray-700);
    --tw-prose-invert-quotes: var(--color-gray-100);
    --tw-prose-invert-quote-borders: var(--color-gray-700);
    --tw-prose-invert-captions: var(--color-gray-400);
    --tw-prose-invert-code: var(--color-paper);
    --tw-prose-invert-pre-code: var(--color-gray-300);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-gray-600);
    --tw-prose-invert-td-borders: var(--color-gray-700);

    @apply prose-headings:font-serif prose-headings:font-normal prose-h1:text-5xl prose-h1:mb-8 prose-h2:sm:text-[2rem] prose-h3:sm:text-[1.5rem] prose-h3:mt-0 prose-h4:mb-6 prose-h4:sm:text-[1.25rem] prose-h4:mb-5 prose-h5:font-sans prose-h5:font-semibold prose-h5:text-sm prose-h5:uppercase prose-h5:mb-4 prose-h6:font-sans prose-h6:text-sm prose-h6:uppercase prose-h6:mb-2 prose-h2:mt-8 prose-h2:mb-3 dark:prose-blockquote:border-l-gray-800 prose-blockquote:border-l-gray-100 prose-blockquote:not-italic prose-blockquote:font-normal prose-blockquote:py-1 prose-blockquote:bg-gray-50 dark:prose-blockquote:bg-gray-900 prose-th:font-sans prose-th:font-semibold prose-thead:border-gray-100 dark:prose-thead:border-b-gray-800 prose-tr:border-gray-100 dark:prose-tr:border-gray-800;
}

.internal-link {
	@apply underline bg-primary/10 decoration-primary p-1;
  }

pre {
	@apply border border-gray-850 bg-black;
}

.prose .blockquote p, ::before, ::after {
	display: none;
}

.theme-icon-dark, 
.theme-icon-light {
	display: none;
}

.dark .theme-icon-dark,
.dark .theme-icon-light {
	display: none;
}

.theme-dark .theme-icon-dark {
	display: inline-block;
}

.theme-dark .theme-icon-system {
display: none;
}

.light .theme-icon-system,
.light .theme-icon-dark {
	display: none;
}

.light .theme-icon-light {
	display: inline-block;
}

/* Comments */
.highlight .c {color:var(--color-gray-700)}
.highlight .cm{color:var(--color-gray-700)}
.highlight .cp{color:var(--color-gray-700)}
.highlight .c1{color:var(--color-gray-700)}
.highlight .cs{color:var(--color-gray-700)}
.highlight .gh{color:var(--color-gray-700)}
.highlight .w{color:var(--color-gray-700)}
.highlight .bp{color:var(--color-gray-700)}

/* Punctuation, operators */
.highlight .p{color:var(--color-gray-500)}
.highlight .go{color:var(--color-gray-500)}
.highlight .gp{color:var(--color-gray-500)}
.highlight .gu{color:var(--color-gray-500)}
.highlight .nn{color:var(--color-gray-500)}

/* Invalid, imports */
.highlight .err{color:var(--color-red-400)}
.highlight .gt{color:var(--color-red-400)}
.highlight .ge{font-style:italic}
.highlight .gr{color:var(--color-re-400)}
.highlight .o{color:var(--color-red-400)}
.highlight .se{color:var(--color-red-400)}
.highlight .sr{color:var(--color-red-400)}
.highlight .ss{color:var(--color-red-400)}

/* Functions */
.highlight .na{color:var(--color-orange-400)}

/* Keywords */
.highlight .k{color:var(--color-green-400)}
.highlight .s{color:var(--color-green-400)}
.highlight .nb{color:var(--color-green-400)}
.highlight .sb{color:var(--color-green-400)}
.highlight .sc{color:var(--color-green-400)}
.highlight .sd{color:var(--color-green-400)}
.highlight .sh{color:var(--color-green-400)}
.highlight .si{color:var(--color-green-400)}
.highlight .sx{color:var(--color-green-400)}

/* Strings */
.highlight .no{color:var(--color-cyan-400)}
.highlight .nv{color:var(--color-cyan-400)}
.highlight .s2{color:var(--color-cyan-400)}
.highlight .s1{color:var(--color-cyan-400)}
.highlight .vc{color:var(--color-cyan-400)}
.highlight .vg{color:var(--color-cyan-400)}
.highlight .vi{color:var(--color-cyan-400)}

/* Variables, attributes */
.highlight .kc{color:var(--color-blue-400)}
.highlight .kd{color:var(--color-blue-400)}
.highlight .kp{color:var(--color-blue-400)}
.highlight .kr{color:var(--color-blue-400)}
.highlight .kt{color:var(--color-blue-400)}
.highlight .nc{color:var(--color-blue-400)}

/* Numbers */
.highlight .m{color:var(--color-purple-400)}
.highlight .mf{color:var(--color-purple-400)}
.highlight .mh{color:var(--color-purple-400)}
.highlight .mi{color:var(--color-purple-400)}
.highlight .mo{color:var(--color-purple-400)}
.highlight .il{color:var(--color-purple-400)}