{% if page.backlinks.size > 0 %}
<div class="max-w-36 mx-auto my-12 bg-gray-100 dark:bg-gray-800 p-0.5"></div>
<h3 class="text-sm uppercase pb-4">Referenced by {{ page.backlinks.size }} post{% if page.backlinks.size != 1 %}s{% endif %}</h3>
<div class="grid sm:grid-cols-2 gap-4">
    {% for backlink in page.backlinks %}
    <a title="{{ backlink.title }}" href="{{ backlink.url }}">
        <div class="border border-gray-100 dark:border-gray-800 p-4 rounded">
            <article>
                <h2 class="text-xl font-serif font-semibold">{{backlink.title }}</h2>
                <div class="text-gray-600 dark:text-gray-400 text-sm my-2">
                {{ backlink.description }}
                </div>
            </article>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}