<div class="text-center border border-t-4 border-t-primary dark:border-t-primary_dark border-gray-200 dark:border-gray-600 dark:bg-gray-800 min-w-full mt-12 py-8 sm:py-14 px-4 rounded shadow-md">
  <div class="text-lg font-bold py-3">Subscribe to get future posts in your inbox</div>
  <!-- Email form -->
  <div class="max-w-md mx-auto py-3">
    {% include forms/newsletter-default.html %}
  </div>
  <div>Or grab the <a id="subRSS" class="text-black dark:text-white underline py-3" href="/feed.xml" target="_blank">RSS feed</a></div>
</div>
