<div class="text-center min-w-full">
  <div class="max-w-36 mx-auto my-12 bg-gray-200 dark:bg-gray-700 p-0.5"></div>
  <div class="pb-4">Subscribe to get future posts by email (or grab the <a class="text-black dark:text-white underline py-3" href="/feed.xml" data-fathom="YKQ6ZLVM" target="_blank">RSS feed</a> instead)</div>
  <!--div class="pb-3 text-md">Subscribe to get future posts via email (or grab the <a class="text-black dark:text-white underline py-3" href="/feed.xml" data-fathom="YKQ6ZLVM" target="_blank">RSS feed</a>)</div>
  <!-- Email form -->
  <div class="max-w-md mx-auto py-3">
    {% include forms/newsletter-default.html %}
  </div>
  <!--div class="pt-3">or grab the <a class="text-black dark:text-white underline py-3" href="/feed.xml" data-fathom="YKQ6ZLVM" target="_blank">RSS feed</a> instead</div-->
</div>
