<header class="mx-auto max-w-screen-2xl px-6 lg:px-16">
  <nav class="py-8" role="navigation" aria-label="main navigation">
    <div class="flex items-center justify-between">
      <div id="logo">
        <a href="/" aria-label="{{ site.title }}">
          <div class="text-2xl font-bold font-serif lg:block">
            {{ site.title }}
          </div>
        </a>
      </div>
      <div id="nav-wrap" class="hidden lg:block">
        <ul class="flex items-center justify-between">
          {% include menus/menu-nav.html %}
        </ul>
      </div>
      <div id="menu-button" class="z-20 lg:hidden">
        <button type="button" aria-controls="mobile-menu" aria-expanded="false" class="lg:hidden">
          <span class="sr-only">Open main menu</span>
          <!--Icon when menu is closed-->
          <svg id="burger" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--Icon when menu is open-->
          <svg id="close" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
    <div id="menu" class="hidden min-w-full h-screen justify-between z-10 fixed bg-gray-100 dark:bg-gray-500 top-0 left-0 overflow-hidden transition-all">
      <ul class="mt-24 px-6 space-y-4 w-full">
        {% include menus/menu-nav.html %}
      </ul>
    </div>
  </nav>
</header>