<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site.webmanifest">
  <meta name="theme-color" content="#ffffff">

  {% include helpers/seo-tags.html %}

  <!-- Scripts -->
  <script nonce="Njc5MTEyNzgy">
    try {
      if (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
        document.querySelector('meta[name="theme-color"]').setAttribute('content', '#18181b');
      } else if (localStorage.theme === 'dark') {
        document.documentElement.classList.add('theme-dark', 'dark');
        document.querySelector('meta[name="theme-color"]').setAttribute('content', '#18181b');
      } else if (localStorage.theme === 'light') {
        document.documentElement.classList.add('light');
        document.querySelector('meta[name="theme-color"]').setAttribute('content', '#ffffff');
      }
    } catch (_) {}
  </script>
  <script src="https://cdn.usefathom.com/script.js" data-site="BKYGCADM" defer></script>

</head>