---
layout: default
title: Home
description: Hi, I'm Andrew Stiefel. I'm a digital strategist and creative copywriter who builds trust and connection between brands and the people they serve.
---

<main class="main">

  <section class="hero is-medium">

    <div class="hero-head">
      {% include header.html %}
    </div>

    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-9">
            <p class="title is-spaced">
              Because Your Work Matters.
            </p>
            <p class="subtitle">
              Learn how to share what you love, build an audience, and grow your business with actionable advice sent straight to your inbox.
            </p>
            {% include forms/form-newsletter-default.html %}
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section px-0 py-0">
    <figure class="image is-2by1">
      <!---img src="/assets/images/1819_Misc_O9-MusicVideo_JamesHolt-056.jpg"--->
      <!---img src="https://images.unsplash.com/photo-1545861163-d75d945d8dd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80"--->
      <!---img src="/assets/images/1819_Misc_O9-MusicVideo_JamesHolt-018.jpg"--->
      <img src="https://images.unsplash.com/photo-1422157245273-e08b638b4b00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
    </figure>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="content">
            <h6>
              About Me
            </h6>
            <h2 class="mt-5">I’m Andrew Stiefel, creator, writer, and marketer.</h2>
            <p class="two_column">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Do eiusmod tempor incididunt ut labore.
            </p>
            <a class="button is-primary is-outlined" href="/about/">My Story</a>
          </div>
        </div>
        <div class="column is-4">
          <figure class="image is-3by4">
            <img src="https://images.unsplash.com/photo-1512484776495-a09d92e87c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium has-background-white-bis">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content has-text-centered">
            <h6>
              Recent Posts
            </h6>
            <h2 class="mt-5">What I'm Thinking About</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>
        </div>
      </div>
      <div class="columns mt-6">
        {% for post in site.posts %}
        <div class="column is-6">
          <div class="card post-card">
            <a href="{{ post.url }}">
              <div class="card-image">
                <figure class="image is-5by3">
                  <img src="{{ post.image }}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4>{{ post.title }}</h4>
                  <p class="is-family-secondary">{{ post.description }}</p>
                  <h6>{{ post.date | date: "%-d %b %Y" }} • {{ post.categories }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section is-medium pb-0">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="side-media side-media-left">
            <div class="side-media-back">
              <figure class="image is-3by4">
                <img src="https://assets.website-files.com/5a09805cd092d00001dfa3f0/5ad71e55ebf5fb785342312d_city-p-800.jpeg">
              </figure>
            </div>
            <div class="side-media-front">
              <figure class="image is-4by3">
                <img src="https://assets.website-files.com/5a09805cd092d00001dfa3f0/5ad71e533a84886227ecbcac_camera-bw.jpg">
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="content">
            <p class="is-uppercase is-size-7">
              Free Training
            </p>
            <h2 class="mt-5">Fundamentals of Personal Branding for Creators</h2>
            <p>
              My free email course, <em>7 Fundamentals of Personal Branding</em>, will walk you through everything from creating a press kit to launching a website to building an email marketing strategy.
            </p>
            <a class="button is-primary is-outlined" href="/course/">Stand Out Online</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="content">
            <p class="is-uppercase is-size-7">
              Portfolio
            </p>
            <h2 class="mt-5">What I'm Working On</h2>
            <p>
              I have nearly a decade of experience working at the intersection of technology, culture and social impact to deliver marketing campaigns that engage audiences and increase revenue.
            </p>
            <a class="button is-primary is-outlined" href="/portfolio/">Explore Case Studies</a>
          </div>
        </div>
        <div class="column is-half">
          <div class="side-media side-media-right">
            <div class="side-media-back">
              <figure class="image is-3by4">
                <img src="https://assets.website-files.com/5a09805cd092d00001dfa3f0/5ad71e55ebf5fb785342312d_city-p-800.jpeg">
              </figure>
            </div>
            <div class="side-media-front">
              <figure class="image is-4by3">
                <img src="https://assets.website-files.com/5a09805cd092d00001dfa3f0/5ad71e533a84886227ecbcac_camera-bw.jpg">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium has-background-white-bis">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            {% include content/cta-newsletter.html %}
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
