<p class="is-capitalized">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a class="ghost" href="{{site.baseurl}}/blog/category/{{category|slugize}}">
        <span class="icon-text">
          <span class="has-text-weight-medium">{{category}}</span>
          <span class="icon ml-0">
            <i class="fas fa-angle-right"></i>
          </span>
        </span>
      </a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
</p>
