<form id="subForm" action="https://andrewstiefel.us13.list-manage.com/subscribe/post" method="POST" netlify>
  <!-- Required info -->
  <input type="hidden" name="u" value="1d38ebdcfe34451bba72cd07d">
  <input type="hidden" name="id" value="f585bcf40d">
  <!-- Input fields -->
  <div class="flex flex-col sm:flex-row">
    <div>
      <label class="sr-only" for="email-input">Email address</label>
      <input class="border-gray-300 dark:border-gray-500 w-full rounded-md px-4 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-teal-500 dark:bg-gray-800" type="email" placeholder="Type your email..." autocomplete="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="50" value="">
    </div>
    <div class="mt-2 flex rounded-md shadow-sm sm:mt-0 sm:ml-3">
      <button class="w-full rounded-md bg-teal-500 py-2 px-4 font-medium text-white sm:py-0 hover:bg-teal-700 dark:hover:bg-teal-400 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 dark:ring-offset-black" type="submit">Subscribe</button>
    </div>
  </div>
</form>
