<div class="box is-shadowless" style="border: 1px solid #ddd;border-top: 5px solid #00754a;">
  <div class="m-5">
    <div class="columns is-vcentered">
      <div class="column is-7">
        <p class="mb-0 is-size-5 has-text-weight-bold">Want to get notified of new posts?</p>
      </div>
      <div class="column has-text-centered">
        <a class="button is-rouded" onclick="fathom.trackGoal('YKQ6ZLVM', 0);" href="/feed.xml">
          <span class="icon">
            <i class="fas fa-rss"></i>
          </span>
          <span>Subscribe via RSS Feed</span>
        </a>
      </div>
    </div>
  </div>
</div>
