<div class="box post-cta">
  <div class="my-5">
    <p class="has-text-centered is-size-5 has-text-weight-bold is-family-secondary pb-4">Subscribe to get future posts in your inbox</p>
    <!-- Desktop version -->
    <form class="is-hidden-mobile" action="https://andrewstiefel.us13.list-manage.com/subscribe/post" method="POST">
      <!-- Required info -->
      <input type="hidden" name="u" value="1d38ebdcfe34451bba72cd07d">
      <input type="hidden" name="id" value="f585bcf40d">
      <!-- Input fields -->
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <input class="input" type="email" placeholder="Type your email..." autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
        </p>
        <p class="control">
          <button type="submit" class="button is-primary">Subscribe</button>
        </p>
      </div>
    </form>
    <!-- Mobile version -->
    <form class="is-hidden-tablet" action="https://andrewstiefel.us13.list-manage.com/subscribe/post" method="POST">
      <!-- Required info -->
      <input type="hidden" name="u" value="1d38ebdcfe34451bba72cd07d">
      <input type="hidden" name="id" value="f585bcf40d">
      <!-- Input fields -->
      <div class="field">
        <p class="control">
          <input class="input" type="email" placeholder="Type your email..." autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary is-fullwidth">Subscribe</button>
        </p>
      </div>
    </form>
    <p class="has-text-centered pt-3">Or grab the <a href="/feed.xml" target="_blank">RSS feed</a></p>
  </div>
</div>
