<div class="box post-cta">
  <div class="my-5">
    <p class="has-text-centered is-size-5 has-text-weight-bold is-family-secondary">Subscribe to get future posts in your inbox</p>
    <!-- Email form -->
    <form id="subForm" action="https://andrewstiefel.us13.list-manage.com/subscribe/post" method="POST">
      <!-- Required info -->
      <input type="hidden" name="u" value="1d38ebdcfe34451bba72cd07d">
      <input type="hidden" name="id" value="f585bcf40d">
      <!-- Input fields -->
      <div class="field is-grouped is-grouped-centered is-block-touch">
        <div class="control my-3">
          <input class="input" type="email" placeholder="Type your email..." autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
        </div>
        <div class="control my-3">
          <button type="submit" class="button is-primary is-fullwidth">Subscribe</button>
        </div>
      </div>
    </form>
    <p class="has-text-centered pt-3">Or grab the <a id="subRSS" href="/feed.xml" target="_blank">RSS feed</a></p>
  </div>
</div>
