---
layout: default
title: Home
description: Hi, I'm Andrew Stiefel. I'm a digital strategist and creative copywriter who builds trust and connection between brands and the people they serve.
---

<main class="main">

  <section class="hero is-large">

    <div class="hero-head">
      {% include header.html %}
    </div>

    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-9">
            <p class="title is-spaced">
              Because Your Work Matters.
            </p>
            <p class="subtitle">
              Learn how to share what you love, build an audience, and grow your business with actionable advice sent straight to your inbox.
            </p>
            {% include forms/form-newsletter-default.html %}
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-4">
          <div class="content">
            <h3 class="mt-5">About Me</h3>
            <p>
              Hey, I’m Andrew Stiefel. I’m a brand storyteller and digital marketer based in Seattle. I’m on a mission to teach independent creators and entrepreneurs how to share their ideas and build an audience for their work.
            </p>
            <a class="button is-primary is-outlined" href="/about/">My Story</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium has-background-white-bis">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content has-text-centered">
            <h3 class="mt-5">What I'm Thinking About</h3>
            <p>
              This website is my journal. It’s where I explore questions that intrigue me and share lessons from my work with artists, entrepreneurs, and brands. My essays cover topics like marketing, content, social media, and digital privacy.
            </p>
          </div>
        </div>
      </div>
      <div class="columns mt-6">
        {% for post in site.posts %}
        <div class="column is-6">
          <div class="card post-card">
            <a href="{{ post.url }}">
              <div class="card-image">
                <figure class="image is-5by3">
                  <img src="{{ post.image }}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4>{{ post.title }}</h4>
                  <p class="is-family-secondary">{{ post.description }}</p>
                  <h6>{{ post.date | date: "%-d %b %Y" }} • {{ post.categories }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content">
            {% include content/cta-newsletter.html %}
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
