---
layout: default
---

{% include layout/header.html %}
<main class="mx-auto max-w-screen-xl px-6 lg:px-24 my-8">
  <section class="grid grid-cols-6 py-4">
    <div class="col-span-full lg:col-start-2 lg:col-span-4">
      <div class="lg:col-start-2 col-span-4">
        <div class="border-b border-gray-200 dark:border-gray-700">
          <h1 class="text-4xl sm:text-5xl font-bold font-display capitalize mb-4 sm:leading-tight">{{ page.title }}</h1>
            {% assign meta = site.data.metatag[page.title] %}
          <p class="text-gray-600 font-serif dark:text-gray-400 text-lg leading-8 mb-8">{{ meta.description }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-6 py-4">
    <div class="col-span-full lg:col-start-2 lg:col-span-4">
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        {% for post in page.posts limit:10 %}
        <li class="py-12">
          {% include helpers/posts-loop.html %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
{% include layout/footer.html %}
