---
layout: default
---

{% include layout/header.html %}
<main class="mx-auto max-w-screen-xl px-6 lg:px-24 my-8">
  <section class="grid grid-cols-6 py-4">
    <div class="col-span-full lg:col-start-2 lg:col-span-4">
      <div class="lg:col-start-2 col-span-4">
			<div class="border-b border-gray-100 dark:border-gray-800">
      {% if page.type == "category" %}
        <h1 class="text-4xl sm:text-5xl font-display capitalize mb-4 sm:leading-tight">{{ page.title | replace: "-", " " }}</h1>
        {% assign meta = site.data.meta[page.title] %}
      	<p class="text-gray-600 dark:text-gray-400 text-xl font-serif leading-8 mb-8">{{ meta.description }}</p>
      {% else %}
        <h1 class="text-4xl sm:text-5xl font-display capitalize mb-4 sm:leading-tight">
          <span class="text-gray-600 dark:text-gray-500">Topics / </span><span>{{ page.title | replace: "-", " " }}</span>
        </h1>
        <p class="text-gray-600 dark:text-gray-400 text-xl font-serif leading-8 mb-8">{{ page.posts | size }} posts about this topic</p>
      {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-6 py-4">
    <div class="col-span-full lg:col-start-2 lg:col-span-4">
      <ul class="divide-y divide-gray-100 dark:divide-gray-800">
        {% for post in page.posts %}
        <li class="py-8">
          {% include helpers/posts-loop.html %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
{% include layout/footer.html %}
