---
layout: default
title: Home
---

{% include header.html %}

<main class="main">

  <section class="section pb-0-m">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <div class="columns is-vcentered">
            <div class="column is-3 p-5 is-hidden-mobile">
              <figure class="image is-square">
                <img class="is-rounded" alt="Andrew Stiefel" src="/assets/images/andrew-stiefel.png">
              </figure>
            </div>
            <div class="column is-9">
              <div class="content">
                <p class="is-size-5"><span class="has-text-weight-bold">Hey, I'm Andrew Stiefel —</span><br >Welcome to my digital garden, a slowly growing collection of imperfect ideas in the form of working notes and essays.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <div class="columns is-vcentered">
            <div class="column is-3 pb-0">
              <h3 class="is-size-5 has-text-weight-bold">Recent Notes</h3>
            </div>
            <div class="column pb-0">
              <span class="title-bar-divider"></span>
            </div>
          </div>
          {% for post in site.posts %}
            {% include loop.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
