---
layout: default
title: Home
---

{% include header.html %}
<main class="mb-auto">
  <section class="pb-6">
    <div class="grid grid-cols-2 grid-flow-col bg-gray-100 dark:bg-gray-700 rounded">
      <div class="col-span-full md:col-span-1 md:col-start-2">
        <img class="rounded-t sm:rounded-r" alt="Andrew Stiefel" src="https://www.iainbroome.com/content/images/size/w1080/2021/05/IMG_1080-bw.png">
      </div>
      <div class="col-span-full md:col-span-1 md:col-start-1 py-12 px-6 md:px-8">
        <div class="text-2xl font-bold leading-8 mb-4">Hey, I'm Andrew Stiefel</div>
        <div class="prose dark:prose-invert">
          <p>Welcome to my digital garden, a slowly growing collection of ideas in the form of working notes and narrative essays.</p>
        </div>
        <div class="pt-6">
          {% include content/embedded-form.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-6 py-6">
    <div class="col-span-full lg:col-span-4 lg:col-start-2">
      <div class="grid grid-cols-4 content-center">
        <div class="text-xl font-bold col-span-2 md:col-span-1">Recent Posts</div>
        <div class="col-span-2 md:col-span-3">
          <span class="inline-block w-full h-0.5 bg-gray-900 dark:bg-gray-500"></span>
        </div>
      </div>
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        {% for post in site.posts limit:5 %}
        <li class="py-12">
        {% include loop.html %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
{% include footer.html %}
