---
layout: default
title: Home
---

{% include layout/header.html %}
<main class="mx-auto max-w-screen-xl px-6 lg:px-24 mb-auto">
  <section class="grid grid-cols-6 py-6">
    <div class="col-span-full xl:col-span-4 xl:col-start-2 prose prose-custom text-lg font-serif dark:prose-invert bg-gray-150 dark:bg-gray-800 p-8">
      {{ content }}
    </div>
  </section>
  {% include helpers/posts-featured.html %}
  <section class="grid grid-cols-6 py-6">
    <div class="col-span-full xl:col-span-4 xl:col-start-2">
      <div class="flex justify-start">
        <div class="text-sm uppercase w-60">Recent Posts</div>
        <div class="w-full">
          <span class="inline-block w-full h-px mb-1 bg-gray-900 dark:bg-gray-500"></span>
        </div>
      </div>
    </div>
    <div class="col-span-full xl:col-span-4 xl:col-start-2">
      <ul class="divide-y divide-gray-200 dark:divide-gray-700">
        {% for post in site.posts limit:5 %}
        <li class="py-8">
          {% include helpers/posts-loop.html %}
        </li>
        {% endfor %}
      </ul>
      <div>
        <a class="" href="/archive/" alt="Archive">
          <span class="border border-primary rounded block m-auto max-w-xs text-center py-2 hover:bg-green-900 hover:border-green-900 text-primary hover:text-white dark:text-primary_dark dark:border-primary_dark dark:hover:bg-primary_dark dark:hover:text-gray-700">
            All Posts →
          </span>
        </a>
      </div>
    </div>
  </section>
</main>
{% include layout/footer.html %}