---
layout: default
title: Newsletter
---

{% include header.html %}

<main class="main">

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content">
            <h1 class="title is-spaced is-size-1-tablet">Newsletter</h1>
            <p class="intro subtitle is-size-5-tablet">Hey there! Let's stay in touch.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content">
            <!---p>
              My personal blog is a weekly newsletter about working and living online. It’s where I share my early drafts and the best ideas I find each week with a community of creative professionals like you. Sign up for my free newsletter below.
            </p--->
            <div class="mb-6">
              {% include content/cta-newsletter.html %}
            </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% include footer.html %}
