---
layout: default
---

{% include layout/portfolio-header.html %}
<main class="mx-auto max-w-screen-xl px-6 lg:px-24 my-8">
  <section class="pb-6">
    <div class="grid items-center lg:grid-cols-12 lg:gap-8">
      <div class="col-span-full lg:col-span-3 h-full lg:py-12">
        <img src="/assets/images/andrew-stiefel-1024x1024.png" alt="Andrew Stiefel" class="object-cover object-center rounded-full">
      </div>
      <div class="col-span-full lg:col-span-9 lg:py-12 lg:pl-12 p-4">
        <div class="prose dark:prose-invert mb-6">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  <section id="templates" class="py-6">
    <div class="text-3xl font-bold s-full sm:w-2/4">Product Marketing Templates</div>
    <div class="grid grid-cols-12 gap-x-6 pt-6">
      <div class="col-span-full xl:col-span-4">
        <a href="#">
          <figure>
            <img src="{{ post.image }}" />
          </figure>
          <h4 class="py-3 text-lg font-bold">Go-to-Market Playbook</h4>
        </a>
      </div>
      <div class="col-span-full xl:col-span-4">
        <a href="#">
          <figure>
            <img src="{{ post.image }}" />
          </figure>
          <h4 class="py-3 text-lg font-bold">Bill of Materials Tracker</h4>
        </a>
      </div>
      <div class="col-span-full xl:col-span-4">
        <a href="#">
          <figure>
            <img src="{{ post.image }}" />
          </figure>
          <h4 class="py-3 text-lg font-bold">Competitive Battlecard</h4>
        </a>
      </div>
    </div>
  </section>
  <section id="writing" class="py-6">
    <div class="text-3xl font-bold s-full sm:w-2/4">Content Examples</div>
    <div class="grid grid-cols-12 gap-x-6 pt-6">
      <div class="col-span-full xl:col-span-4">
        <h4 class="py-3 text-lg font-bold">Projects</h4>
        <ul class="list-inside list-disc">
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.brightcove.com/en/resources/blog/six-reasons-why-video-has-opened-eyes-and-ears-for-the-seattle-symphony-orchestra/" target="_blank">Seattle Symphony Live</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.seattletimes.com/entertainment/classical-music/this-land-is-your-land-seattle-symphony-responds-to-trump-travel-bans-with-music-beyond-borders/" target="_blank">Music Beyond Borders</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://ideas.capacityinteractive.com/seattle-symphony-lord-of-the-rings">One Ring to Convert Them All</a></li>
        </ul>
      </div>
      <div class="col-span-full xl:col-span-4">
        <h4 class="py-3 text-lg font-bold">Writing</h4>
        <ul class="list-inside list-disc">
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.nginx.com/blog/benefits-of-api-first-approach-to-building-microservices/">Benefits of API-First Software Development</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.nginx.com/blog/5-ways-to-fight-api-sprawl-and-why-you-should-care/" target="_blank">Five Ways to Fight API Sprawl</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.nginx.com/blog/adaptive-governance-gives-api-developers-the-autonomy-they-need/" target="_blank">Adaptive Governance for API Programs</a></li>
        </ul>
      </div>
      <div class="col-span-full xl:col-span-4">
        <h4 class="py-3 text-lg font-bold">Webinars</h4>
        <ul class="list-inside list-disc">
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.nginx.com/resources/webinars/successfully-implement-your-api-strategy-with-nginx/" target="_blank">How to Implement Your API Strategy</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://apiworld.co/conference/api-lifecycle-conference/api-strategy-enterprise-modernization/" target="_blank">API Tools for the Stages, Not the Ages</a></li>
          <li><a class="underline hover:text-primary dark:hover:text-primary_dark" href="https://www.brighttalk.com/webcast/16121/538594" target="_blank">Is API Management the Silver Bullet?</a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

{% include layout/footer.html %}