---
layout: default
---

<div class="post">
    
    <div class="cat-links">
    
    {% assign categories = post.categories %}
    {% for category in categories %}
        <a href="{{site.baseurl}}/blog/category/{{category|slugize}}">{{category}}</a>
    {% endfor %}

    <!--  Loop through the categories selected by the editor in the post -->
        {% for category in categories %}
    <!--   assign a variable that captures the title of each category and makes it lowercase -->
            {% assign post-cat-name = category | downcase %}
        {% endfor %}
    <!--   Loop through all categories in the _data directory -->
        {% for site-cat in site.data.taxonomies.categories %}
    <!--   assign a variable that captures the title of each category in the director and makes it lowercase -->
            {% assign site-cat-name = site-cat | downcase %}
        {% endfor %}
    <!--   compare the category titles from your site vs the post. If they match, display the content -->  
        {% if site-cat-name == post-cat-name  %}
            <span class="post-category" style="background-color: red;"><a href="{{ site.baseurl }}/blog/{{ post-cat-name }}">{{ post-cat-name }}</a></span>
        {% endif %}

    </div>
    
    <h1 class="post-title">{{ page.title }}</h1>
    
    <span class="post-date">{{ page.date | date: "%-d %B %Y" }} &middot; {{ content | reading_time }}</span>
  
    {{ content }}

</div>

<hr>

<div class="qna">
    
    <h2>Questions?</h2>
    
    <p>Ask me on <a href="https://twitter.com/andrewstiefel" target="blank">Twitter</a> or <a href="mailto:andrew@andrewstiefel.com" target="blank">send me an email.</a></p>

</div>

<hr>