@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"),
      url("../fonts/inter/Inter-Regular.woff2?v=3.13") format("woff2"),
      url("../fonts/inter/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Italic"),
      url("../fonts/inter/Inter-Italic.woff2?v=3.13") format("woff2"),
      url("../fonts/inter/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter-Bold"),
      url("../fonts/inter/Inter-Bold.woff2?v=3.13") format("woff2"),
      url("../fonts/inter/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: local("Inter-BoldItalic"),
      url("../fonts/inter/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
      url("../fonts/inter/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/roboto-condensed-v24-latin/roboto-condensed-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v24-latin/roboto-condensed-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/martel-v9-latin/martel-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v9-latin/martel-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url('../fonts/martel-v9-latin/martel-v9-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/martel-v9-latin/martel-v9-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

pre[class*=language-] {
    color:#f4f4f5
}
.token.class-name,
.token.function,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.tag {
    color:#f472b6
}
.token.attr-name,
.token.important,
.token.keyword,
.token.pseudo-class,
.token.rule {
    color:#d4d4d8
}
.token.module {
    color:#f472b6
}
.token.attr-value,
.token.class,
.token.property,
.token.string {
    color:#6ee7b7
}
.token.attr-equals,
.token.punctuation {
    color:#71717a
}
.language-css .token.function,
.token.unit {
    color:#bae6fd
}
.token.combinator,
.token.comment,
.token.operator {
    color:#a1a1aa
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose-custom {
    @apply max-w-none dark:prose-invert mx-auto prose-a:text-primary dark:prose-a:text-primary_dark prose-headings:font-display prose-h2:sm:text-[2rem] prose-h3:sm:text-[1.5rem] prose-h4:sm:text-[1.25rem] prose-h2:mt-8 prose-h2:mb-3;
  }
}