@font-face {
  font-family: 'Merriweather';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-Light.woff2") format("woff2");
}
@font-face {
  font-family: 'Merriweather';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Merriweather';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Merriweather';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Merriweather';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Merriweather';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Merriweather';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-Black.woff2") format("woff2");
}
@font-face {
  font-family: 'Merriweather';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/merriweather/Merriweather-BlackItalic.woff2") format("woff2");
}
