@font-face {
  font-family: 'Tiempos';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-regular.woff") format("woff");
}
@font-face {
  font-family: 'Tiempos';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-regular-italic.woff") format("woff");
}

@font-face {
  font-family: 'Tiempos';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-medium.woff") format("woff");
}
@font-face {
  font-family: 'Tiempos';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-medium-italic.woff") format("woff");
}

@font-face {
  font-family: 'Tiempos';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-semibold.woff") format("woff");
}
@font-face {
  font-family: 'Tiempos';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-semibold-italic.woff") format("woff");
}

@font-face {
  font-family: 'Tiempos';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-bold.woff") format("woff");
}
@font-face {
  font-family: 'Tiempos';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/tiempos/tiempos-text-test-bold-italic.woff") format("woff");
}
