<form name="contact" method="POST" data-netlify="true">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" name="email" type="email" placeholder="">
    </div>
  </div>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" name="name" type="text" placeholder="">
    </div>
  </div>
  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" name="message" placeholder=""></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">
        <span class="icon is-small">
          <i class="fas fa-paper-plane"></i>
        </span>
         <span>Send</span>
      </button>
    </div>
  </div>
</form>
